<!-- app.component.html -->

<!-- app.component.html -->

<!-- navbar.component.html -->
<div class="yoyo-swing">
<div class="yoyo-container">
    <div class="string"></div>
    <div class="yoyo">
      <div class="text">Mohib</div>
    </div>
  </div>
  </div>
  

<app-navbar></app-navbar>

<div class="background">
<div class="neon-container">
  <div class="neon-overlay"></div>
  <img src="https://img.freepik.com/premium-photo/illustration-optic-illusion-black-white-solid-color_945369-6534.jpg?w=900" class="spiral image" alt="">
</div>

  </div>
    
    

<!-- <p>{{a}}</p>
<button (click)="sendData()">button</button> -->



<!-- <div class="hypnotize-container">
  <div class="hypnotize-element">Mohib Qureshi</div>
</div> -->


  