<!-- app.component.html -->

<!-- app.component.html -->

<!-- navbar.component.html -->


<app-navbar></app-navbar>

<div class="background">
  <div class="yoyo-swing">
  <div class="yoyo-container">
      <div class="string"></div>
      <div class="yoyo">
        <div class="text">
          <span *ngIf="currentWordIndex < words.length" class="inner">{{ words[currentWordIndex] }}</span>
        </div>
      </div>
    </div>
    </div>
<div class="neon-container">
  <div class="neon-overlay"></div>
  <img  src="https://media.istockphoto.com/id/1214810768/vector/black-and-white-room.jpg?s=612x612&w=0&k=20&c=wIQEue0ezdIq2mnQBlzNlHR3sX26Pu2MfS7gTeGYxzQ=" class="spiral image" alt="">
</div>

  </div>
    
    

<!-- <p>{{a}}</p>
<button (click)="sendData()">button</button> -->






  