<div class="profile-container">
  <div class="left">
    <div class="profileImageDiv">
      <img class="profileImage" [@imageState]="getCurrentContent().text" [src]="getCurrentContent().image" alt="Profile Picture" />
    </div>
  </div>
  <div class="right">
    <h2 [@textState]="getCurrentContent().text">{{ getCurrentContent().text }}</h2>
    <ul class="listU" [@textState]="getCurrentContent().description">
      <li  class="list" *ngFor="let point of getCurrentContent().description.split('\n')">{{ point.trim() }}</li>
    </ul>
  </div>
  <div class="swipe-right-effect" [@swipeEffect]="swipeDirection">
    <div class="extra"></div>
  </div>
</div>
