.profile-container {
    position: relative; /* Ensure the effect stays within the container */
    padding: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 40vh;
    max-height: 50vh;
    width: 98vw;
    overflow-y: auto;
    overflow-x: hidden;
    margin: auto;
  }
  
  .left {
    // flex: 1;
    overflow: hidden;
  }
  
  .profileImageDiv{
    margin: auto;
    aspect-ratio: 1.5/2;
    max-height: 50vh;
    min-height: 500px;
    
  }
  img {
    aspect-ratio: 1.5/2;
    max-height: 50vh;
  // min-height: 500px;
    // max-width: 100%;

object-fit: contain;
    border-radius: 15px;
  }
  
  .right {
    flex: 1;
    display: flex;

    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    // justify-content: space-around;

  }
  
  h2 {
    font-size: 2rem;

  }
  
  /* Swipe-right effect styles */
  .swipe-right-effect {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border-left: 5px solid  rgba(246, 250, 39, 0.755);
    width: 0; /* Initially invisible */
    box-shadow: 0px 0px 20px rgb(255, 255, 3);
    // background-color: #c0c0c036; /* Silver background color */
    background-color: rgba(8, 0, 20, 0.897);
    border-left:2px ;
    z-index: 1; /* Place above the image */
}

  .extra{
    position: absolute-relative;
    top: 0%;
    left: 0%;
    max-height: 100%;
    width: 2px;
    background-color: rgba(246, 250, 39, 0.755);
    box-shadow: 0px 0px 20px rgb(255, 255, 3);

    animation: Bb  100ms  100ms ease-in-out !important;
  }
  @keyframes swipeRight{
    10% {
      width: 0px; /* Start with no width (invisible) */
    }
    20% {
      width: 100px; /* Fully visible */
    }
    30% {
      width: 0px; /* Start with no width (invisible) */
    }
    40% {
      width: 100px; /* Fully visible */
    }
    50% {
      width: 0px; /* Start with no width (invisible) */
    }
    60% {
      width: 100px; /* Fully visible */
    }
    70% {
      width: 0px; /* Start with no width (invisible) */
    }
    // 100% {
    //   width: 100%; /* Fully visible */
    // }
  }
  @keyframes Bb{

    0% {
    //   width: 0;
    width: 10px;
    // border-left:40px dotted black ;
    /* Start with no width (invisible) */
}
100% {
        width: 2px;
    //   width: 0;
    // border-left:80px dotted rgb(194, 175, 175) ;
    /* Start with no width (invisible) */
}
  }
  
  /* Animation trigger */
  .swipe-right-effect.swipe-right {
    animation: swipeRight 0.5s ease-in-out; /* Adjust the duration as needed */
  }
  
  .listU{
    text-decoration: none;

  }
  .list{
    text-align: left;
    font-size: 1.6em;
    text-decoration: none;
    // list-style: none;
  }
  @media (max-width: 768px) {

    
    .profileImageDiv, img {
        max-height: 30vh; /* Adjust max-height for smaller screens */
        min-height: 30vh; /* Adjust max-height for smaller screens */
      }
      .profileImageDiv {
        max-height: 30vh; /* Adjust max-height for smaller screens */
      }
      .profile-container{
        max-height: 30vh; /* Adjust max-height for smaller screens */

    }

    h2 {
        font-size: 1.5rem; /* Smaller font size */
    }

    .list {
    
      font-size: 0.9em; /* Smaller font size */
    }
  }
  
  @media (max-width: 368px) {
    .profile-container {
      // min-height: 5vh; /* Adjust max-height for smaller screens */
    min-height: 100px;}
    .profileImageDiv, img {
      min-height: 5vh; /* Adjust max-height for smaller screens */
        max-height: 20vh; /* Adjust max-height for smaller screens */
    }
    .profileImageDiv {
      max-height: 20vh; /* Adjust max-height for smaller screens */
      }
      .profile-container{
      max-height: 20vh; /* Adjust max-height for smaller screens */
  
    }
    
    
    h2 {
        font-size: 1.2rem; /* Smaller font size */
    }
  
    .list {
        font-size: 0.6em; /* Smaller font size */
    margin: 0px;
    }
}
//     h2 {
// @media (max-width: 480px) {
    

//     .profileImageDiv, img {
//         max-height: 20vh; /* Further adjustment for very small screens */
//     }

//         font-size: 1rem; /* Further reduce font size */
//     }

//     .list {
//         font-size: 0.5em; /* Further reduce font size */
//     }
// }