.box-container {
  display: grid;
  width: 98vw;
  margin: auto;
  grid-template-columns: repeat(3, 31vw);
  grid-template-rows: repeat(2, 20vh);
  gap: 10px;
  justify-content: center;
  width: 340px; /* Default container width */
  margin-top: 20px;
}

.box {
  display: flex;
  border-radius: 5px;
  padding: 5px 0;
  justify-content: center;
  align-items: stretch;
  background-color: #faf8f8c0;
  color: #000000;
  border: 4px solid rgba(255, 255, 255, 0.562) ;
  font-size: 1em;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.01);
      border: whitesmoke 2px;
      box-shadow: rgba(245, 245, 245, 0.897) 2px 2px 5px;
  }
}

.box-container1 {
  display: flex;
  width: 30vw;
  // flex: 1;
  max-height:20vh ;
  align-items: flex-start;

  overflow-y: hidden;
  height: fit-content;
  justify-content: start;
  border-radius: 5px;
  overflow: hidden;
}

.box-image1 {
  margin-right: 10px;
  margin: 3px 0;
  border-radius: 5px;
  width: 8vw;
  height: 18vh;
}

.box-content1 {
  flex: 1;
  width: 23vw;
  display: flex;
  justify-content: start;
  align-items: flex-start;
  flex-direction: column;

}

.box-heading1 {
  color: #000000;
  font-size: 1.3em;
  font-weight: bold;
  text-align: center;
}

.box-description1 {
  color: #000000;
  font-size: 1.1em;
  text-align: center;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .box-container {
      grid-template-columns: repeat(2, 45vw);
      grid-template-rows: auto;
      gap: 8px;
      width: 90vw; /* Adjusted width */
  }

  .box {
      font-size: 1em; /* Adjusted font size */
  }

  .box-image1 {
      width: 15vw; /* Adjusted width */
      height: 15vh; /* Adjusted height */
  }

  .box-content1 {
      width: 75vw; /* Adjusted content width */
  }

  .box-heading1 {
      font-size: 1.2em; /* Adjusted font size */
      margin-left: 20%; /* Adjusted alignment */
  }

  .box-description1 {
      font-size: 1.1em; /* Adjusted font size */
  }
}

@media (max-width: 480px) {
  .box-container {
      grid-template-columns: repeat(1, 80vw);
      grid-template-rows: auto;
      width: 100vw; /* Full width on very small screens */
  }

  .box {
      font-size: 0.9em; /* Smaller font size */
  }

  .box-image1 { /* Larger image relative to screen size */
      height: 10vh; /* Adjusted height */
  }

  .box-content1 {
      width: 80vw; /* Full width for content */
  }

  .box-heading1 {
      font-size: 1.3em; /* Smaller font size */
      margin-left: 0; /* Centered alignment */
  }

  .box-description1 {
    padding: 0px 2px;
      font-size: 1em; /* Smaller font size */
  }
}
