// box-layout.component.scss

.box-container {
    display: grid;
    width: 90vw;
    margin: auto;
    grid-template-columns: repeat(3, 30vw);
    grid-template-rows: repeat(2, 20vh);
    gap: 10px;
    justify-content: center;
    // align-content: center;
    width: 340px; /* Adjust the container width as needed */
    margin: 0 auto;
    margin-top: 20px;
  }
  
  .box {
    display: flex;
    border-radius: 5px;
    
    justify-content: center;
    align-items: center;
    background-color: #faf8f8d8;
    color: #000000;
    font-size: 1.2em;
    // width: 100px;
    // height: 100px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  
    &:hover {
      border: whitesmoke 2px ;
      box-shadow: whitesmoke 2px 2px;
    }
  }
  

  
  .box-container1 {
    display: flex;
    width: 30vw;
    flex:1;
    margin: 1rem;
    padding: 0.5rem;
    height: fit-content;
    justify-content: start;
    border-radius: 5px;
    overflow: hidden;
  }

  /* Image styles */
  .box-image1 {
    // flex: 0 0 100px; /* Fixed width for the image */
    margin-right: 10px;
    border-radius: 5px;
    width: 7vw;
    height: 20vh;
    
    // img{
    // width: 10vw;
    // height: 20vh;
    // }
  }

  /* Content container (heading and description) */
  .box-content1 {
    flex: 1; /* Allow content to take remaining space */
    width: 23vw;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-direction: column;
  }

  /* Heading styles */
  .box-heading1 {
    color: #000000;
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
    margin-left: 30%;
  }

  /* Description styles */
  .box-description1 {
    color: #000000;
    font-size: 1.3em;
 /* Allow description to grow and fill remaining space */
    text-align: center;
  }